<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/base/main.css" type="text/css"></link>
    <script src="javascript/base/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascript/base/ace/cockpit.js" type="text/javascript"></script>
    <script src="javascript/base/net.js" type="text/javascript"></script>
    <script src="javascript/base/ace/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="javascript/base/ace.js"></script>
    <script type="text/javascript" src="javascript/base/jquery/jquery.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-c_cpp.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-clojure.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-coffee.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-csharp.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-css.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-groovy.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-html.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-java.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-javascript.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-json.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-ocaml.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-perl.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-php.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-python.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-ruby.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-scad.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-scala.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-scss.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-svg.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-textile.js"></script>
    <script type="text/javascript" src="javascript/base/ace/mode-xml.js"></script>
    <script src="javascript/base/ace.js" type="text/javascript"></script>
    <script src="javascript/base/jquery/jquery.js" type="text/javascript"></script>

    <script type="text/javascript" src="javascript/base/main.js"></script>
  </head>

  <body>
    <div id="editor"></div>
  </body>
</html>
